@layer base {
    * {
        min-width: 0;
        outline-width: 3px;
        outline-style: solid;
        outline-color: transparent;
        color: inherit;
        color-scheme: light dark;
        // overflow: hidden;
        // flex-shrink: 0;
        // flex-grow: 1;
        // flex-basis: 0%;

        &:focus:not(:focus-visible) {
            @apply outline-transparent;
        }

        &:focus-visible {
            @apply outline-focus;
        }
    }

    [data-hidden='true'],
    [data-focus-guard='true'] {
        @apply outline-transparent;
    }

    html {
        background-color: theme('backgroundColor.primary.500');
        color: theme('textColor.color.base');
        font-family: theme('fontFamily.sans');
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        font-size: theme('fontSize.base');
        line-height: theme('lineHeight.6');

        text-rendering: optimizeLegibility;
        word-break: break-word;
        overflow-wrap: break-word;

        &[data-outline='true'] * {
            box-shadow:
                inset 0 0 0px 0.5px red,
                0 0 0px 0.5px red !important;
        }

        &[data-background='true'] * {
            background-color: rgba($color: limegreen, $alpha: 0.03) !important;
        }
    }

    #app-root,
    #overlay-root {
        position: fixed;
        inset: 0;
        overflow: hidden;
        contain: strict;
    }

    #app-root {
        @apply z-10;
    }

    #overlay-root {
        @apply z-20 pointer-events-none;
    }

    button,
    [role='button'] {
        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    input[type='hidden'] {
        @apply sr-only;
    }

    img,
    video,
    canvas {
        @apply overflow-hidden;
    }

    input,
    textarea {
        background-color: transparent;
        border-style: none;
        border-width: 0px;
        color: inherit;
        font-size: inherit;
        padding: 0px;
        resize: none;

        &:disabled {
            @apply cursor-not-allowed;
        }
    }

    img[alt] {
        text-indent: -9999px;
    }

    @media (prefers-reduced-motion: reduce) {
        html:focus-within {
            scroll-behavior: auto;
        }

        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    @media (prefers-reduced-data: reduce) {
        main {
            font-family: system-ui;
        }
    }
}
