@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .PlaceholderNode {
        border-radius: 0.25rem;
        line-height: 1;
        width: 100%;
        animation: theme('animation.placeholder');
    }
}