


.PlaceholderNode {
    width: 100%;
    border-radius: 0.25rem;
    display: inline-flex;
    line-height: 1;

    position: relative;
    user-select: none;
    overflow: hidden;

    &::before {
        display: none;
    }
}
