@keyframes pulse-animation {
    0% {
        scale: 0.8;
        opacity: 0.3;
    }

    50% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0.8;
        opacity: 0.3;
    }
}

@keyframes placeholder-animation {
    0% {
        background-color: theme('colors.primary.100');
    }

    100% {
        background-color: theme('colors.primary.400');
    }
}

:root {
    --custom-pulse-animation: pulse-animation 1.4s ease-in-out infinite;
    --custom-placeholder-animation: placeholder-animation 2s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate-reverse;
}
