:root {
    --message-editor-font-size: 16px;
    --message-editor-line-height: 22px;
    --message-editor-y-padding: 11px;
    --message-editor-height: calc(
        var(--message-editor-line-height) 
        + (var(--message-editor-y-padding) * 2)
    );

    --message-group-spacing: 20px;
    --message-font-size: 16px;
    --message-line-height: 22px;
    --message-emoji-wrapper-width: 24px;
    --message-emoji-wrapper-height: 22px;
}

[data-message-font-size="12"] {
    --message-font-size: 12px;
}

[data-message-font-size="14"] {
    --message-font-size: 14px;
}

[data-message-font-size="16"] {
    --message-font-size: 16px;
}

[data-message-font-size="18"] {
    --message-font-size: 18px;
}

[data-message-font-size="20"] {
    --message-font-size: 20px;
}

[data-message-group-spacing="16"] {
    --message-group-spacing: 16px;
}

[data-message-group-spacing="20"] {
    --message-group-spacing: 20px;
}
