:root {
    --message-editor-font-size: 16px;
    --message-editor-line-height: 22px;
    --message-editor-y-padding: 11px;
    --message-editor-height: calc(
        var(--message-editor-line-height) 
        + (var(--message-editor-y-padding) * 2)
    );

    --message-gap: 10px;
    --message-font-size: 16px;
    --message-line-height: 22px;
    --message-emoji-wrapper-width: 24px;
    --message-emoji-wrapper-height: 22px;

    // &[data-message-font-size=16] {
    // }
}
