{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "insertFinalNewline": false,
    "singleQuote": true,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}