* {
    outline: 1px solid orangered;
    font-family: monospace;
    font-size: 24px;
}

.main-wrapper {
    display: grid;
    gap: 20px;
    padding-block: 60px;
    overflow-y: scroll;
    min-height: 100dvh;
}

.block {
    display: grid;
    gap: 20px;
    height: fit-content;
    padding: 20px;
    background-color: #202026;

    .action {
        display: flex;
        gap: 40px;
        justify-content: space-between;

        &>* {
            width: 100%;
        }

        &__button {}

        &__log {
            max-height: 500px;
            overflow-y: scroll;
            gap: 10px;

            .log-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}