@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed ExtraLight'), local('NotoSansCondensed-ExtraLight'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed ExtraLight Italic'), local('NotoSansCondensed-ExtraLightItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed ExtraBold Italic'), local('NotoSansCondensed-ExtraBoldItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Regular'), local('NotoSansCondensed-Regular'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Regular.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Bold Italic'), local('NotoSansExtraCondensed-BoldItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed SemiBold'), local('NotoSansCondensed-SemiBold'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-SemiBold.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Light'), local('NotoSansCondensed-Light'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Light.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed SemiBold Italic'), local('NotoSansCondensed-SemiBoldItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Black'), local('NotoSansExtraCondensed-Black'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Black.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Bold'), local('NotoSansExtraCondensed-Bold'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Bold.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Black Italic'), local('NotoSansExtraCondensed-BlackItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Medium'), local('NotoSansCondensed-Medium'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Medium.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Thin'), local('NotoSansCondensed-Thin'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Thin.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Italic'), local('NotoSansCondensed-Italic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Italic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Light Italic'), local('NotoSansCondensed-LightItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-LightItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Medium Italic'), local('NotoSansCondensed-MediumItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Condensed';
    src: local('Noto Sans Condensed Thin Italic'), local('NotoSansCondensed-ThinItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed SemiBold Italic'), local('NotoSansExtraCondensed-SemiBoldItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed ExtraBold'), local('NotoSansExtraCondensed-ExtraBold'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Medium Italic'), local('NotoSansExtraCondensed-MediumItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed ExtraLight'), local('NotoSansExtraCondensed-ExtraLight'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Italic'), local('NotoSansExtraCondensed-Italic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Italic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Medium'), local('NotoSansExtraCondensed-Medium'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Medium.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Light Italic'), local('NotoSansExtraCondensed-LightItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-LightItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Regular'), local('NotoSansExtraCondensed-Regular'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Regular.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed ExtraBold Italic'), local('NotoSansExtraCondensed-ExtraBoldItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Light'), local('NotoSansExtraCondensed-Light'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Light.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed ExtraLight Italic'), local('NotoSansExtraCondensed-ExtraLightItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed SemiBold'), local('NotoSansExtraCondensed-SemiBold'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-SemiBold.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans ExtraCondensed';
    src: local('Noto Sans ExtraCondensed Thin Italic'), local('NotoSansExtraCondensed-ThinItalic'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/NotoSans/subset-NotoSansExtraCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

