@use './fonts.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        // outline: 1px solid orangered;
    }

    html {
        background-color: black;
        color: aliceblue;
        font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        font-stretch: normal;
    }

    main {
        font-size: 2.6rem;
    }
}
