@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Black'),
        local('NotoSans-Black'),
        url('/static/fonts/NotoSans/NotoSans-Black.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraBold'),
        local('NotoSans-ExtraBold'),
        url('/static/fonts/NotoSans/NotoSans-ExtraBold.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraBold Italic'),
        local('NotoSans-ExtraBoldItalic'),
        url('/static/fonts/NotoSans/NotoSans-ExtraBoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-ExtraBoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Black Italic'),
        local('NotoSans-BlackItalic'),
        url('/static/fonts/NotoSans/NotoSans-BlackItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Bold Italic'),
        local('NotoSans-BoldItalic'),
        url('/static/fonts/NotoSans/NotoSans-BoldItalic.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Bold'),
        local('NotoSans-Bold'),
        url('/static/fonts/NotoSans/NotoSans-Bold.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Light'),
        local('NotoSans-Light'),
        url('/static/fonts/NotoSans/NotoSans-Light.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Regular'),
        local('NotoSans-Regular'),
        url('/static/fonts/NotoSans/NotoSans-Regular.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Thin Italic'),
        local('NotoSans-ThinItalic'),
        url('/static/fonts/NotoSans/NotoSans-ThinItalic.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraLight Italic'),
        local('NotoSans-ExtraLightItalic'),
        url('/static/fonts/NotoSans/NotoSans-ExtraLightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-ExtraLightItalic.woff')
            format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Thin'),
        local('NotoSans-Thin'),
        url('/static/fonts/NotoSans/NotoSans-Thin.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiBold Italic'),
        local('NotoSans-SemiBoldItalic'),
        url('/static/fonts/NotoSans/NotoSans-SemiBoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-SemiBoldItalic.woff')
            format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiBold'),
        local('NotoSans-SemiBold'),
        url('/static/fonts/NotoSans/NotoSans-SemiBold.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Medium Italic'),
        local('NotoSans-MediumItalic'),
        url('/static/fonts/NotoSans/NotoSans-MediumItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraLight'),
        local('NotoSans-ExtraLight'),
        url('/static/fonts/NotoSans/NotoSans-ExtraLight.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Medium'),
        local('NotoSans-Medium'),
        url('/static/fonts/NotoSans/NotoSans-Medium.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Light Italic'),
        local('NotoSans-LightItalic'),
        url('/static/fonts/NotoSans/NotoSans-LightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Italic'),
        local('NotoSans-Italic'),
        url('/static/fonts/NotoSans/NotoSans-Italic.woff2') format('woff2'),
        url('/static/fonts/NotoSans/NotoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-stretch: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Bold'),
        local('NotoSansCondensed-Bold'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Bold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Bold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Black Italic'),
        local('NotoSansCondensed-BlackItalic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-BlackItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-BlackItalic.woff')
            format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Black'),
        local('NotoSansCondensed-Black'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Black.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Black.woff')
            format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed ExtraBold Italic'),
        local('NotoSansCondensed-ExtraBoldItalic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraBoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraBoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed ExtraBold'),
        local('NotoSansCondensed-ExtraBold'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraBold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraBold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Bold Italic'),
        local('NotoSansCondensed-BoldItalic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-BoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-BoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed ExtraLight'),
        local('NotoSansCondensed-ExtraLight'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraLight.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraLight.woff')
            format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Italic'),
        local('NotoSansCondensed-Italic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Italic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Italic.woff')
            format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Light'),
        local('NotoSansCondensed-Light'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Light.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Light.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed ExtraLight Italic'),
        local('NotoSansCondensed-ExtraLightItalic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraLightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-ExtraLightItalic.woff')
            format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Medium'),
        local('NotoSansCondensed-Medium'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Medium.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-Medium.woff')
            format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-stretch: condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans Condensed Light Italic'),
        local('NotoSansCondensed-LightItalic'),
        url('/static/fonts/NotoSans/NotoSansCondensed-LightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansCondensed-LightItalic.woff')
            format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-stretch: condensed;
}
@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Black'),
        local('NotoSansExtraCondensed-Black'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Black.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Black.woff')
            format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Black Italic'),
        local('NotoSansExtraCondensed-BlackItalic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-BlackItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-BlackItalic.woff')
            format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Bold Italic'),
        local('NotoSansExtraCondensed-BoldItalic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-BoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-BoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Bold'),
        local('NotoSansExtraCondensed-Bold'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Bold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Bold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed ExtraLight'),
        local('NotoSansExtraCondensed-ExtraLight'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraLight.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraLight.woff')
            format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed ExtraBold Italic'),
        local('NotoSansExtraCondensed-ExtraBoldItalic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraBoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraBoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed ExtraBold'),
        local('NotoSansExtraCondensed-ExtraBold'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraBold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraBold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed ExtraLight Italic'),
        local('NotoSansExtraCondensed-ExtraLightItalic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraLightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-ExtraLightItalic.woff')
            format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Light'),
        local('NotoSansExtraCondensed-Light'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Light.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Light.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Italic'),
        local('NotoSansExtraCondensed-Italic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Italic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-Italic.woff')
            format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans ExtraCondensed Light Italic'),
        local('NotoSansExtraCondensed-LightItalic'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-LightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansExtraCondensed-LightItalic.woff')
            format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-stretch: extra-condensed;
}
@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Italic'),
        local('NotoSansSemiCondensed-Italic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Italic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Italic.woff')
            format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed ExtraLight'),
        local('NotoSansSemiCondensed-ExtraLight'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraLight.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraLight.woff')
            format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed ExtraLight Italic'),
        local('NotoSansSemiCondensed-ExtraLightItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraLightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraLightItalic.woff')
            format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Black Italic'),
        local('NotoSansSemiCondensed-BlackItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-BlackItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-BlackItalic.woff')
            format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Light'),
        local('NotoSansSemiCondensed-Light'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Light.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Light.woff')
            format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed ExtraBold'),
        local('NotoSansSemiCondensed-ExtraBold'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraBold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraBold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed ExtraBold Italic'),
        local('NotoSansSemiCondensed-ExtraBoldItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraBoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-ExtraBoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Medium'),
        local('NotoSansSemiCondensed-Medium'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Medium.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Medium.woff')
            format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Black'),
        local('NotoSansSemiCondensed-Black'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Black.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Black.woff')
            format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Bold Italic'),
        local('NotoSansSemiCondensed-BoldItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-BoldItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-BoldItalic.woff')
            format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Bold'),
        local('NotoSansSemiCondensed-Bold'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Bold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Bold.woff')
            format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Light Italic'),
        local('NotoSansSemiCondensed-LightItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-LightItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-LightItalic.woff')
            format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Regular'),
        local('NotoSansSemiCondensed-Regular'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Regular.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-Regular.woff')
            format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed SemiBold'),
        local('NotoSansSemiCondensed-SemiBold'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-SemiBold.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-SemiBold.woff')
            format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'Noto Sans';
    src:
        local('Noto Sans SemiCondensed Medium Italic'),
        local('NotoSansSemiCondensed-MediumItalic'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-MediumItalic.woff2')
            format('woff2'),
        url('/static/fonts/NotoSans/NotoSansSemiCondensed-MediumItalic.woff')
            format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    font-stretch: semi-condensed;
}
