:root {
    --color-primary-100: hsl(218, 8%, 27%);
    --color-primary-200: hsl(220, 8%, 23%);
    --color-primary-300: hsl(223, 7%, 20%);
    --color-primary-400: hsl(220, 7%, 17%);
    --color-primary-500: hsl(216, 7%, 14%);
    --color-primary-600: hsl(225, 8%, 10%);

    --color-primary-hover: hsla(219, 8%, 34%, 0.4);
    --color-primary-active: hsla(217, 8%, 34%, 0.48);
    --color-primary-selected: hsla(217, 8%, 34%, 0.6);

    --color-brand: hsl(235, 86%, 65%);
    --color-brand-hover: hsl(235, 51%, 52%);
    --color-brand-active: hsl(235, 47%, 44%);

    --color-danger: hsl(359, 66.7%, 54.1%);
    --color-danger-hover: hsl(359, 56%, 40%);
    --color-danger-active: hsl(359, 56.4%, 35.1%);

    --color-positive: hsl(145, 65%, 39.2%);
    // --color-positive: hsl(138, 47.1%, 33.3%);
    --color-positive-hover: hsl(138, 46.8%, 26.3%);
    --color-positive-active: hsl(138, 46.9%, 22.2%);

    --color-neutral: hsl(217, 8%, 34%);
    --color-neutral-hover: hsl(213, 5%, 42.9%);
    --color-neutral-active: hsl(218, 4.6%, 46.9%);

    --color-focus: hsl(197, 100%, 60%);
    --color-warn: hsl(38, 96%, 54%);

    --color-icon-100: hsl(210, 3%, 87%);
    --color-icon-200: hsl(216, 4%, 74%);
    --color-icon-300: hsl(218, 4%, 56%);

    --color-white-black: white;
    --color-black-white: black;

    --color-font-primary: hsl(0, 0%, 100%);
    --color-font-secondary: hsl(216, 4%, 74%);
    --color-font-base: hsl(210, 3%, 87%);
    --color-font-muted: hsl(214, 4%, 65%);
    --color-font-link: var(--color-focus);
    --color-font-error: var(--color-danger);

    --status-online: var(--color-positive);
    --status-afk: var(--color-warn);
    --status-offline: hsl(214, 10%, 50%);
    --status-dnd: var(--color-danger);

    --scrollbar-track: var(--color-primary-200);
    --scrollbar-thumb: var(--color-primary-500);

    --color-elevation-100: 6, 6, 7;
    --color-elevation-200: 4, 4, 5;
    --color-elevation-300: 0, 0, 0;

    --elevation-stroke: 0 0 0 1px rgba(var(--color-elevation-200), 0.15);
    --elevation-low: 0 1px 0 rgba(var(--color-elevation-100), 0.2),
        0 1.5px 0 rgba(var(--color-elevation-200), 0.05),
        0 2px 0 rgba(var(--color-elevation-100), 0.05);
    --elevation-medium: 0 4px 4px rgba(var(--color-elevation-300), 0.16);
    --elevation-high: 0 8px 16px rgba(var(--color-elevation-300), 0.24);

    --selection: rgba(0, 123, 255, 0.5);
}
