[data-theme=light] {
    --color-primary-100: hsl(210, 11%, 93%);
    --color-primary-200: hsl(0, 0%, 100%);
    --color-primary-300: hsl(220, 13%, 95%);
    --color-primary-400: hsl(210, 11%, 93%);
    --color-primary-500: hsl(216, 10%, 90%);
    --color-primary-600: hsl(0, 0%, 100%);

    --color-primary-hover: rgba(106, 116, 128, 0.16);
    --color-primary-active: rgba(106, 116, 128, 0.2);
    --color-primary-selected: rgba(106, 116, 128, 0.24);

    --color-focus: hsl(212, 100%, 44%);

    --color-icon-100: hsl(210, 10%, 20%);
    --color-icon-200: hsl(215, 10%, 34%);
    --color-icon-300: hsl(216, 8%, 26%);

    --color-white-black: black;
    --color-black-white: white;

    --color-font-primary: hsl(240, 8%, 3%);
    --color-font-secondary: hsl(215, 10%, 34%);
    --color-font-base: hsl(210, 10%, 20%);
    --color-font-muted: hsl(213, 10%, 41%);
}

@media (prefers-color-scheme: light) {
    [data-theme=auto] {
        --color-primary-100: hsl(210, 11%, 93%);
        --color-primary-200: hsl(0, 0%, 100%);
        --color-primary-300: hsl(220, 13%, 95%);
        --color-primary-400: hsl(210, 11%, 93%);
        --color-primary-500: hsl(216, 10%, 90%);
        --color-primary-600: hsl(0, 0%, 100%);

        --color-primary-hover: rgba(106, 116, 128, 0.16);
        --color-primary-active: rgba(106, 116, 128, 0.2);
        --color-primary-selected: rgba(106, 116, 128, 0.24);

        --color-focus: hsl(212, 100%, 44%);

        --color-icon-100: hsl(210, 10%, 20%);
        --color-icon-200: hsl(215, 10%, 34%);
        --color-icon-300: hsl(216, 8%, 26%);

        --color-white-black: black;
        --color-black-white: white;

        --color-font-primary: hsl(240, 8%, 3%);
        --color-font-secondary: hsl(215, 10%, 34%);
        --color-font-base: hsl(210, 10%, 20%);
        --color-font-muted: hsl(213, 10%, 41%);
    }
}